# 这是一个注释。
# 指定根目录下dev-app-update.yml文件的Code Owner
dev-app-update.yml @HZfatcat @luobohu

# 指定.gitcode文件夹的Code Owner
/.gitcode/ @gt-chen

# 指定所有JS文件的Code Owner
*.js @username

# 指定docs文件夹的多个Code Owners
/docs/ @username1 @username2
bnbkkbjnkj